/* * {
    border: #458588 2px solid;
} */

body {
    background-color: #f7f4ed;
    display: flex;
    margin: 0;
    width: auto;
    height: 100vh;
    max-height: 100vh;
    max-width: auto;
    justify-content: center;
    /* Add transition for smooth movement */

    --color: #E1E1E1;
    --mouse-x: 50%;
    --mouse-y: 50%;

    background-color: #fceed6;
    background-image:
        linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 35px 35px;

    position: relative;
    overflow: hidden;
}

body::after {
    z-index: -1;
    content: '';
    position: absolute;
    top: var(--mouse-y);
    left: var(--mouse-x);
    width: 100px;
    height: 100px;
    pointer-events: none;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
    /* Semi-transparent black */
    transform: translate(-50%, -50%);
    mix-blend-mode: multiply;
    /* Darkens the underlying colors */
    transition: top 0s ease, left 0s ease, background 0s ease;
}


.home-body {
    min-height: 200vh;
    /* Adjust the height as needed */
}


.header {
    background-color: #0e0f10;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 25%;
    padding-right: 25%;
    border-bottom: 1px solid #ebdbb2;
    flex-wrap: wrap;
}


.logo {
    width: 50px;
    height: auto;
    display: flex;
    flex: 1;
    margin-left: 17%;
    justify-content: start;
    align-items: center;
}

.svg-logo {
    width: 200px;
    height: auto;
    animation: gradient-rotation 5s ease infinite;
}

.logo img {
    transition: transform 0.3s ease, filter 0.3s ease;
}

.logo img:hover {
    transform: scale(1.01);
    /* Slightly enlarge the image */
    /* filter: brightness(1.2);  */
    /* filter: hue-rotate(90deg); */
}


.menu-container {
    display: flex;
    flex: 2;
    justify-content: space-around;
    align-items: center;
    /* margin-right: 16%; */
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: center;
    /* border: 1px solid white; */
    /* border-bottom: 1px solid white; */
}

.menu li {
    /* border: 1px solid white; */
    font-size: 16px;
    display: inline;
    margin-right: 20px;
    text-wrap: nowrap;
    position: relative;
    /* border-bottom: 1px solid white; */
}



.m-button {
    padding: 10px 20px;
    /* background-color: #689d6a; */
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 2px 2px #000;
    background: linear-gradient(270deg, #458588, #feb47b, #689d6a, #458588);
    background-size: 800% 800%;
    color: #ebdbb2;
    animation: gradient-rotation 5s ease infinite;
    /* Apply the animation */
    transition: background 0s ease;
}

.m-button.dark {
    box-shadow: 2px 2px #E1E1E1;
}

.m-button:hover {
    background: #458588;
    /* transition: background 0.3s ease-in; */
}

.m-button:active {
    box-shadow: none;
    transform: translate(2px, 2px);
}

a.dim {
    color: #ebecec;
    text-decoration: none;
    transition: color 0.3s ease;
}

a.dim:hover {
    text-decoration: none;
    color: #ebdbb2;
}

a.dim .color {
    color: #689d6a;
    background: linear-gradient(270deg, #458588, #feb47b, #689d6a, #458588);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-rotation 5s infinite;
    transition: color 0.1s ease;
}

a.dim:hover .color {
    background: #458588;
    -webkit-background-clip: text;
    background-clip: text;
}


.body-container-1 {
    display: flex;
    width: 100%;
    height: 100%;
    margin-left: 16%;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.body-head-up {
    display: flex;
    justify-content: flex-start;
    /* Align items towards the left */
    align-items: center;
    width: 100%;
    /* Ensure it takes the full width */
    height: 90%;
    /* Ensure it takes the full height */
    margin-bottom: -25%;
}

.body-head1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: transparent;
    /* Make the text color transparent */
    background: linear-gradient(270deg, #458588, #feb47b, #689d6a, #458588);
    background-size: 800% 800%;
    /* Ensure the gradient covers a large area */
    -webkit-background-clip: text;
    /* Clip the background to the text */
    background-clip: text;
    /* Clip the background to the text */
    display: flex;
    align-items: center;
    font-size: 12em;
    font-weight: 500;
    margin-top: 0;
    /* Remove top margin */
    margin-bottom: 0;
    /* Remove bottom margin */
    animation: gradient-rotation 5s ease infinite;
    /* Apply the animation */
}

.body-heat1:hover {
    background: #458588;
    -webkit-background-clip: text;
    background-clip: text;
}

.body-head2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    font-size: 4em;
    font-weight: bolder;
    /* box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    padding-top: 37.5px;
    padding-bottom: 37.5px; */
    /* font-weight: 500; */
    margin-top: 0;
    /* Remove top margin */
    margin-bottom: 0;
    /* Remove bottom margin */
    justify-content: start;
    align-items: center;
    text-wrap: nowrap;
    text-shadow: 2px 3px #689d6a;
}

.body-head-dw {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    height: 10%;
    width: 100%;
    /* Ensure it takes the full width */
    margin-left: 3%;
    /* Align with .body-head-up */
    margin-bottom: -3%;
    text-shadow: 1px 1.5px #458588;
}

.body-head-dw-b {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 550;
    display: flex;
    width: 100%;
    justify-self: center;
    align-items: center;
    margin-left: 3%;
}

.body-img {
    display: flex;
    justify-content: end;
    align-items: center;
    width: auto;
    height: auto;
}

.body-img img {
    width: 80%;
    height: auto;
    /* margin-right: 20%; */
}

.footer {
    background-color: #0e0f10;
    width: 100%;
    height: 40px;
    position: fixed;
    bottom: 0;
    /* Position at the bottom */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ebdbb2;
    flex-wrap: wrap;
}

.footer .menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .menu {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer .menu li {
    text-decoration: none;
    font-size: 16px;
    display: inline;
    margin-right: 20px;
    text-wrap: nowrap;
    position: relative;
}

/* Modal styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 3;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    /* 10% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #000;
    border-radius: 25px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Remove borders from username and password form containers */
.btn-input {
    /* border: none; */
}

/* Remove borders from input fields */
.btn-input .input-field {
    border: none;
    /* border-bottom: 1px solid #ccc; */
    outline: none;
    text-align: center;
}

/* Dimmed color for labels */
.btn-input label {
    color: #666;
    transition: opacity 0.3s ease;
    position: absolute;
    align-items: center;
    pointer-events: none;
}

/* Container positioning for labels and inputs */
.btn-input {
    position: relative;
}

/* Hide label when input is focused or has text */
.btn-input .input-field:focus+label,
.btn-input .input-field:not(:placeholder-shown)+label {
    opacity: 0;
    visibility: hidden;
}

/* Remove borders from the submit button container */
.btn-submit {
    border: none;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-top: 20px;
}

/* Style the submit button */
.submit-button {
    /* max-width: 150%; */
    width: 100%;
    padding: 15px;
    border: none;
    /* background-color: #689d6a; */
    color: #ebdbb2;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    background: linear-gradient(270deg, #458588, #feb47b, #689d6a, #458588);
    background-size: 800% 800%;
    color: #ebdbb2;
    animation: gradient-rotation 5s ease infinite;
    /* Apply the animation */
    transition: background 0s ease;
}

/* Hover effect for the submit button */
.submit-button:hover {
    background-color: #458588;
}

.btn img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.btn-google {
    /* width: %; */
    color: #333;
    border-color: #333;
}


.btn-github {
    color: #333;
    border-color: #333;
}


.btn-email {
    color: #000;
    border-color: #000;
}

.btn-guest {
    color: #000;
    border-color: #000;
}

.create-account {
    margin-top: 20px;
    font-size: 14px;
}

.create-account a {
    color: #00a000;
    text-decoration: none;
}

.help-links {
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}

.help-links a {
    color: #666;
    text-decoration: none;
}


/* Loading Overlay Styles */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    display: none;
    /* Hidden by default */
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically */
    flex-direction: column;
    /* Arrange children vertically */
    z-index: 9999;
}

/* Logo Styling */
.loading-logo {
    width: 150px;
    /* Adjust size as needed */
    margin-bottom: 20px;
    /* Space between logo and loader */
}

/* Loader Styles */
.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #458588;
    border-radius: 50%;
    border-bottom-color: transparent;
    animation: rotation 1s linear infinite;
    margin-bottom: 20px;
    /* Space between loader and text */
}

/* Loading Text Styles */
.loading-text {
    color: #458588;
    font-size: 18px;
}

/* Rotation Animation */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient-rotation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




/* for home page */



/* Styles for the home header */
.home-header {
    z-index: 2;
    position: fixed;
    background-color: #0e0f10;
    /* width: 100%; */
    width: 100%;
    height: 80px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    /* padding-left: 30%;
    padding-right: 30%; */
    border-bottom: 2px solid #689d6a;
    flex-wrap: wrap;
}

.header-container-h {
    display: flex;
    width: 100%;
    height: 40px;
    flex: 1;
    /* margin-left: 25%; */
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}


.menu.index li:nth-child(n):after {
    font-size: 1em;
    content: "//";
    margin-left: 10px;
    color: #ebecec;
}


.menu.index li:nth-child(n):last-child::after {
    content: none;
}

.menu li:nth-child(n+3)::after {
    font-size: 1em;
    content: "//";
    margin-left: 10px;
    color: #ebecec;
}

.menu li:nth-child(2n):last-child::after {
    content: "";
    margin: 0;
}

.svg-logo-h {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
    animation: gradient-rotation 5s ease infinite;
}

.svg-logo-h:hover {
    transform: scale(1.01);
    /* Slightly enlarge the image */
}


.fixed-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    /* margin-left: 30%; */
    border: none;
    background-color: rgba(0, 0, 0, 0);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    z-index: 1000;
}


.fixed-nav .menu li a {
    color: #666;
    /* Darker text color */
}

.fixed-nav .menu li a:hover {
    color: #333;
    /* Darker text color */
}

.fixed-nav .menu li:nth-child(n+3)::after {
    font-size: 1em;
    content: "//";
    margin-left: 10px;
    color: #333;
}

.fixed-nav .menu li:nth-child(2n):last-child::after {
    content: "";
    margin: 0;
}

.fixed-nav .menu.index li:nth-child(n)::after {
    font-size: 1em;
    content: "//";
    margin-left: 10px;
    color: #333;
}

.fixed-nav .menu.index li:nth-child(2n):last-child::after {
    content: "";
    margin: 0;
}

.fixed-nav .svg-logo-h {
    content: url('../img/logo-light.svg');
    /* Load the light logo */
}

.fixed-nav .m-button.dark {
    box-shadow: 2px 2px #333;
}


body.no-scroll {
    overflow: hidden;
    /* Disable main page scrollbar */
}

.sidebar {
    z-index: 5;
    width: 350px;
    height: 100vh;
    background-color: rgba(63, 132, 134, 0.95);
    position: fixed;
    top: 0;
    right: -350px;
    /* Initially hidden */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    /* Ensure the sidebar has its own scrollbar */
}

.sidebar.show {
    transform: translateX(-350px);
    /* Slide in from the right */
}

.sidebar-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    background: rgba(0, 0, 0, 0);
}

.close-sidebar {
    font-size: 2em;
    cursor: pointer;
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
}

.sign-out-button {
    background-color: transparent;
    border: none;
    color: #ebdbb2;
    cursor: pointer;
    text-decoration: underline;
    margin-left: 10px;
}

.sign-out-button:hover {
    color: #689d6a;
}

.main-content {
    flex: 1;
    overflow-y: auto;
    font-size: 1em;
    padding: 20px;
}

.bottom-sections {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-top: 5%;
    padding: 20px;
    background-color: rgba(63, 132, 134, 0.95);
}

.section {
    margin-bottom: 25px;
}

.section:last-child {
    margin-bottom: 0;
}

.section-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: #ebdbb2;
}

.search-box {
    display: flex;
    font-size: 1em;
    align-items: center;
    margin-bottom: 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 10px;
}

.search-box input {
    flex: 1;
    padding: 8px;
    border: none;
    background: none;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 16px;
    outline: none;
}

.search-box input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.search-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    filter: invert();
}

.menu-item {
    font-family: sans-serif;
    font-size: 2em;
    color: #ebecec;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s ease;
}

.menu-item.last-child {
    border-bottom: 0px;
}

.menu-item:hover {
    color: #ebdbb2;
    background-color: rgba(255, 255, 255, 0.1);
}

.menu-item i {
    color: #00ffea;
}

.account-buttons {
    font-family: sans-serif;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #ebdbb2;
}

.account-buttons span {
    color: #ebdbb2;
}

.social-links {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.social-link img {
    width: 24px;
    height: 24px;
    filter: invert();
    transition: color 0.3s;
}

.social-link:hover img {
    filter: brightness(0.8);
}


.home-body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 20px 20px;
    background-color: #f7f4ed;
}

.home-container {
    max-width: 1200px;
    width: 100%;
    text-align: center;
}

.home-logo-title {
    margin-bottom: 20px;
}

.logo-title {
    width: 200px;
    height: auto;
    animation: gradient-rotation 5s ease infinite;
    transition: transform 0.3s ease;
}

.logo-title:hover {
    transform: scale(1.1);
    /* Slightly enlarge the logo on hover */
}

.home-generated-text p {
    font-size: 18px;
    color: #0e0f10;
    max-width: 800px;
    margin: 0 auto;
}